@page "/Compo/SearchPlace/ListSearchPlace"
@model Darayas.Maps.Pages.Home.Components.Map.SearchPlace.Compo_ListSearchPlaceModel

    <div class="ListSearchPlace">
        <ul>
            <li>
                ادرس یکم
            </li>
            <li>
                ادرس دوم
            </li>
            <li>
                ادرس سوم
            </li>
        </ul>
    </div>